<link rel="stylesheet" href="/stylesheets/detail.css" />
<link rel="stylesheet" href="/stylesheets/image-hover/normalize.css" />
<link rel="stylesheet" href="/stylesheets/image-hover/hover-effects.css" />
<link rel="stylesheet" href="/stylesheets/selectric/selectric.css" />
<link rel="stylesheet" href="/stylesheets/fileUpload/iconfont.css" />
<link rel="stylesheet" href="/stylesheets/fileUpload/fileUpload.css">

<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      <a href="#">服务档案信息管理</a>
    </li>
    <li class="active">考评内容管理</li>
  </ul>
</div>

<div class="page-content">
  <div class="page-header">
    <h1>
    </h1>
  </div>
  <div class="row" id="app">
    <div class="col-xs-12">
      <div class="row option-bar">
        <div class="col-xs-12">
          <button type="button" class="btn btn-danger" id="btn-delete"><i class="icon-trash"></i>删除</button>
        </div>
      </div>

      <div class="row content-list">
        <div class="col-xs-3 draw-line-right content-text">
          <button type="button" class="btn btn-block btn-yellow" id="btn-show-add-text"><i class="icon-jfi-comment"></i>添加文字</button>
          <div class="detail">

          </div>
        </div>
        <div class="col-xs-3 draw-line-right content-image">
          <button type="button" class="btn btn-block btn-info" id="btn-show-upload-image"><i class="icon-jfi-file-image"></i>上传图片</button>
          <div class="detail">

          </div>
        </div>
        <div class="col-xs-3 draw-line-right content-video">
          <button type="button" class="btn btn-block btn-purple" id="btn-show-upload-video"><i class="icon-facetime-video"></i>上传视频</button>
          <div class="detail">

          </div>
        </div>
        <div class="col-xs-3 content-file">
          <button type="button" class="btn btn-block btn-pink" id="btn-show-upload-file"><i class="icon-file"></i>上传PDF文件</button>
          <div class="detail">

          </div>
        </div>
      </div>

      <div class="modal fade" tabindex="-1" role="dialog" id="text-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">编辑文字内容</h4>
            </div>
            <div class="alert alert-danger store-alert hidden">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span></span>
            </div>
            <div class="modal-body">
              <textarea class="form-control" rows="3" maxlength="300" placeholder="最多输入300个文字" id="from-field-text"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" id="btn-save-text">提交</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>

      <div class="modal fade" tabindex="-1" role="dialog" id="image-upload-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">上传图片（*.jpg, *.jpeg, *.png）请上传16:9尺寸的图片</h4>
            </div>
            <div class="alert alert-danger store-alert hidden">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span></span>
            </div>
            <div class="modal-body">
              <div id="file-upload-image" class="fileUploadContent"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>

      <div class="modal fade" tabindex="-1" role="dialog" id="file-upload-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">上传文件（*.pdf）</h4>
            </div>
            <div class="alert alert-danger store-alert hidden">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span></span>
            </div>
            <div class="modal-body">
              <div id="file-upload-file" class="fileUploadContent"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>

      <div class="modal fade" tabindex="-1" role="dialog" id="video-upload-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">上传视频（*.mp4, *.webm）</h4>
            </div>
            <div class="alert alert-danger store-alert hidden">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span></span>
            </div>
            <div class="modal-body">
              <div id="file-upload-video" class="fileUploadContent"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    </div>
  </div>
</div>
<input type="hidden" value="{{archiveID}}" id="hidden-archiveID">
<input type="hidden" value="{{breadcrumbs}}" id="hidden-breadcrumbs">
<script src="/javascripts/selectric/jquery.selectric.js"></script>
<script src="/javascripts/fileUpload/fileUpload.js"></script>
<script src="/javascripts/view/archiveDetail.js"></script>