<!--<link rel="stylesheet" href="/stylesheets/password.css" />-->
<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      <a href="#">个人信息管理</a>
    </li>
    <li class="active">密码修改</li>
  </ul>
</div>

<div class="page-content">
  <div class="page-header">
    <h1>
      个人信息管理
      <small>
        <i class="icon-double-angle-right"></i>
        密码修改
      </small>
    </h1>
  </div>

  <div class="row" id="app">
    <div class="col-xs-12">
      <div class="space-6"></div>
      <div class="edit-group">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">旧密码</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" maxlength="15" v-model="originalPassword">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" maxlength="15" v-model="newPassword">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" maxlength="15" v-model="confirmPassword">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-primary" :disabled="!enabledSave" @click="onSave">提交</button>
            </div>
          </div>
        </form>

        <!--<form>-->
          <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" maxlength="14" v-model="sysName">-->
          <!--</div>-->

          <!--<button type="button" class="btn btn-primary btn-block" :disabled="!enabledSave" @click="onSave">-->
            <!--<i class="icon-save"></i>-->
            <!--保存-->
          <!--</button>-->
        <!--</form>-->
      </div>

    </div>
  </div>
</div>

<script src="/javascripts/view/changePassword.js"></script>