<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/help">联系我们</a>
    </li>
  </ul>
</div>

<div class="page-content">

  <div class="space-16"></div>
  <div class="row">
    <div class="col-sm-12 center">
      <div>
        <h1>如遇问题，请联系我们</h1>
        <h3>电话：18182505299</h3>
        <h3>邮箱：Johnny.Q.Zhang@outlook.com</h3>
      </div>
    </div>

  </div>
</div>
<script src="/javascripts/view/index.js"></script>