<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">Home</a>
    </li>

    <!--<li>-->
      <!--<a href="#">Other Pages</a>-->
    <!--</li>-->
    <!--<li class="active">Blank Page</li>-->
  </ul><!-- .breadcrumb -->
</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1 style="margin: 35px auto; color: #428db9">欢迎使用 中国银行业营业网点文明规范服务标准评价体系后台管理系统</h1>
      <!--<p>Welcome to {{title}}</p>-->
    </div>
  </div>
</div>