<link rel="stylesheet" href="/stylesheets/jtree.css" />
<link rel="stylesheet" href="/stylesheets/rmenu/rmenu.css" />
<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/index">主页</a>
    </li>
    <li>
      <a href="#">服务档案信息管理</a>
    </li>
    <li class="active">考评内容管理</li>
  </ul>
</div>

<div class="page-content">
  <div class="page-header">
    <h1>
      服务档案信息管理
      <small>
        <i class="icon-double-angle-right"></i>
        考评内容管理
      </small>
    </h1>
  </div>
  <div class="row" id="app">
    <div class="col-xs-12">
      <div class="space-6"></div>
      <div id="treeView"></div>

      <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="alert alert-danger store-alert hidden">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span></span>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label form-label-itemName"></label>
                  <div class="col-sm-10">
                    <textarea class="form-control" maxlength="50" id="form-field-itemName" rows="3"></textarea>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" id="btn-save">保存</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>

      <div class="modal fade" tabindex="-1" role="dialog" id="yearModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">年份</h4>
            </div>
            <div class="alert alert-danger store-alert hidden">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span></span>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label form-label-itemName">选择年份</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="form-select-year">
                      <option value="2017">2017年</option>
                      <option value="2018">2018年</option>
                      <option value="2019">2019年</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" id="btn-save-year">保存</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>

      <div class="modal fade" tabindex="-1" role="dialog" id="quarterModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">季度</h4>
            </div>
            <div class="alert alert-danger store-alert hidden">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span></span>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label form-label-itemName">选择季度</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="form-select-quarter">
                      <option value="Q1">第一季度</option>
                      <option value="Q2">第二季度</option>
                      <option value="Q3">第三季度</option>
                      <option value="Q4">第四季度</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" id="btn-save-quarter">保存</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>

    </div>

    <!--根节点快捷菜单-->
    <ul class="contextmenu right-menu-root">
      <li class="add-module">
        <a href="#">
          <i class="icon-plus"></i>
          新增一级指标
        </a>
      </li>
    </ul>

    <!--一级指标节点快捷菜单-->
    <ul class="contextmenu right-menu-module">
      <li class="add-block"><a href="javascript:"><i class="icon-plus"></i> 新增二级指标</a></li>
      <li class="change-module"><a href="javascript:"><i class="icon-pencil"></i> 更新当前指标</a></li>
      <li class="remove-item"><a href="javascript:"><i class="icon-trash"></i> 删除当前指标</a></li>
      <li class="move-in"><a href="javascript:"><i class="icon-reply"></i> 移入</a></li>
      <li class="move-up"><a href="javascript:"><i class="icon-circle-arrow-up"></i> 上移</a></li>
      <li class="move-down"><a href="javascript:"><i class="icon-circle-arrow-down"></i> 下移</a></li>
    </ul>

    <!--二级指标节点快捷菜单-->
    <ul class="contextmenu right-menu-block">
      <li class="add-item"><a href="javascript:"><i class="icon-plus"></i> 新增三级指标</a></li>
      <li class="change-block"><a href="javascript:"><i class="icon-pencil"></i> 更新当前指标</a></li>
      <li class="remove-item"><a href="javascript:"><i class="icon-trash"></i> 删除当前指标</a></li>
      <li class="move-in"><a href="javascript:"><i class="icon-reply-all"></i> 移入</a></li>
      <li class="move-out"><a href="javascript:"><i class="icon-share"></i> 移出</a></li>
      <li class="move-up"><a href="javascript:"><i class="icon-circle-arrow-up"></i> 上移</a></li>
      <li class="move-down"><a href="javascript:"><i class="icon-circle-arrow-down"></i> 下移</a></li>
    </ul>

    <!--三级指标节点快捷菜单-->
    <ul class="contextmenu right-menu-item">
      <li class="add-year"><a href="javascript:"><i class="icon-plus"></i> 新增年份</a></li>
      <li class="change-item"><a href="javascript:"><i class="icon-pencil"></i> 更新当前指标</a></li>
      <li class="remove-item"><a href="javascript:"><i class="icon-trash"></i> 删除当前指标</a></li>
      <li class="add-detail"><a href="javascript:"><i class="icon-plus"></i> 新增明细标题 </a></li>
      <li class="move-in"><a href="javascript:"><i class="icon-reply-all"></i> 移入</a></li>
      <li class="move-out"><a href="javascript:"><i class="icon-share"></i> 移出</a></li>
      <li class="move-up"><a href="javascript:"><i class="icon-circle-arrow-up"></i> 上移</a></li>
      <li class="move-down"><a href="javascript:"><i class="icon-circle-arrow-down"></i> 下移</a></li>
    </ul>

    <!--年份节点快捷菜单-->
    <ul class="contextmenu right-menu-year">
      <li class="add-quarter"><a href="javascript:"><i class="icon-plus"></i> 新增季度</a></li>
      <li class="change-year"><a href="javascript:"><i class="icon-pencil"></i> 更新当前年份</a></li>
      <li class="remove-item"><a href="javascript:"><i class="icon-trash"></i> 删除当前年份</a></li>
      <li class="add-detail"><a href="javascript:"><i class="icon-plus"></i> 新增明细标题 </a></li>
      <li class="move-in"><a href="javascript:"><i class="icon-reply-all"></i> 移入</a></li>
      <li class="move-out"><a href="javascript:"><i class="icon-share"></i> 移出</a></li>
      <li class="move-up"><a href="javascript:"><i class="icon-circle-arrow-up"></i> 上移</a></li>
      <li class="move-down"><a href="javascript:"><i class="icon-circle-arrow-down"></i> 下移</a></li>
    </ul>

    <!--季度节点快捷菜单-->
    <ul class="contextmenu right-menu-quarter">
      <li class="add-detail"><a href="javascript:"><i class="icon-plus"></i> 新增明细标题 </a></li>
      <li class="change-quarter"><a href="javascript:"><i class="icon-pencil"></i> 更新当前季度</a></li>
      <li class="remove-item"><a href="javascript:"><i class="icon-trash"></i> 删除当前季度</a></li>
      <li class="move-in"><a href="javascript:"><i class="icon-reply-all"></i> 移入</a></li>
      <li class="move-out"><a href="javascript:"><i class="icon-share"></i> 移出</a></li>
      <li class="move-up"><a href="javascript:"><i class="icon-circle-arrow-up"></i> 上移</a></li>
      <li class="move-down"><a href="javascript:"><i class="icon-circle-arrow-down"></i> 下移</a></li>
    </ul>

    <!--详细内容节点快捷菜单-->
    <ul class="contextmenu right-menu-detail">
      <li class="change-item"><a href="javascript:;"><i class="icon-search"></i> 更细明细标题</a></li>
      <li class="edit-detail"><a href="javascript:"><i class="icon-pencil"></i> 编辑详细内容 </a></li>
      <li class="remove-item"><a href="javascript:"><i class="icon-pencil"></i> 删除详细内容 </a></li>
      <li class="move-out"><a href="javascript:"><i class="icon-share"></i> 移出</a></li>
      <li class="move-up"><a href="javascript:"><i class="icon-circle-arrow-up"></i> 上移</a></li>
      <li class="move-down"><a href="javascript:"><i class="icon-circle-arrow-down"></i> 下移</a></li>
    </ul>
  </div>
</div>

<input type="hidden" value="{{moduleID}}" id="hidden-moduleID">
<input type="hidden" value="{{blockID}}" id="hidden-blockID">
<input type="hidden" value="{{itemID}}" id="hidden-itemID">
<input type="hidden" value="{{currentPageNum}}" id="hidden-currentPageNum">
<script src="/javascripts/jtree/tools.js"></script>
<script src="/javascripts/jtree/handledata.js"></script>
<script src="/javascripts/jtree/jtree.js"></script>
<script src="/javascripts/rmenu/rmenu.js"></script>
<script src="/javascripts/view/item.js"></script>