.detail-info{
  clear: both;
  /*width: 550px;*/
  margin: 35px auto 0;
}
.view{
  width: 160px;
}
.video-option .add-memo{
  margin-right: 5px;
}
.select-time{
  float: right;
}

.select-time .view{
  float: left;
  margin-right: 10px;
}

.content-hover{
  /*margin-bottom: 5px;*/
}
.content-hover img{
  width: 550px;
}
.image-desc{
  margin-top: 15px !important;
}
.image-desc, .video-desc p{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px !important;
  font-family: cursive;
}

.group-file{
  /*width: 550px;*/
  margin: 15px auto;
}
.group-file img{
  width: 30px;
}
.del-file{
  margin-left: 5px;
  color: red;
  cursor: pointer;
}
.change-position{
  margin-left: 5px !important;
  color: #0e55e6;
  cursor: pointer;
}
.icon-double-angle-right{
  margin-right: 5px;
}
.icon-angle-right{
  margin-right: 5px;
}
.tabbable ul li{
  width: 120px;
  text-align: center;
}
.content-title{
  margin-top: 15px;
}
.content-title input{
  text-align: center;
}
.content-list{
  margin-top: 15px;
}
.draw-line-right{
  border-right: 1px solid #CCCCCC;
}
.content-list .detail{
  margin-top: 15px;
}
.content-text .text-option{
  text-align: center;
}

.advertise-title {
  text-align: center;
}

.advertise-title input {
  width: 90%;
  height: 55px;
  font-size: 25px;
  text-align: center;
  border: none;
}