#data-list tbody img{
  width: 105px;
}
.btn-bar{
  padding: 15px;
}
.news-content {
  padding: 15px;
}
.news-title-thumbnail{
  margin: 0 auto;
}
.news-title-thumbnail img{
  width: 200px;
  height: 200px;
}
.news-title-thumbnail button{
  margin-top: 15px;
  width: 200px;
}
.title{
  text-align: center;
  border-bottom: 1px solid silver;
}
.title input{
  width: 700px;
  height: 55px;
  font-size: 25px;
  text-align: center;
  color: #1a1a1a;
  border: none;

}
.time .input-group{
  width: 235px;
  margin: 5px auto 0;
  text-align: center;
}
.time .input-group input{
  text-align: center;
  border: none;
}
.time .input-group input:hover{

  border: 1px solid silver;
}
.detail{
  margin-top: 5px;
  text-align: center;
}
.detail img{
  width: 500px;
  margin-top: 35px;
}
.detail video{
  width: 500px;
  margin-top: 35px;
}
.detail p{
  width: 500px;
  margin: 35px auto 0;
  text-align: left;
}
.option{
  margin-top: 8px;
}
.option i{
  margin-right: 5px;
  font-size: 14px;
}
.option i.icon-pencil{
  color: #1d6fa6;
}
.option i.icon-trash{
  color: #761c19;
}
.option i.icon-circle-arrow-down, i.icon-circle-arrow-up{
  color: #00be67;
}
.detail .part{
  padding-top: 8px;
  padding-bottom: 8px;
}