body{
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.table thead th{
  text-align: center;
}
.table tbody td{
  text-align: center;
}
.no-margin-bottom{
  margin-bottom: 0;
}
.check-error{
  border: 1px solid #ff2900 !important;
}
.alert-warning{
  margin-top: 10px;
  margin-bottom: 0;
}
.input-readonly{
  border: none !important;
  background-color: #ffffff !important;
}
.form-control-static{
  margin-top: -4px;
}
.table-col-ellipsis{
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.table th,td{
  vertical-align: middle !important;
}
.brand-upd-image{
  padding-bottom: 15px;
}
.brand-upd-image img{
  height: 160px;
}
.page-body{
  padding: 15px;
}
.page-body .row{
  height: 50px;
}
.page-body .control-label{
  margin-top: 3px;
  text-align: right;
}
.page-body .form-control-static{
  margin-top: -2px;
}
.text-number{
  ime-mode: disabled;
  text-align: right;
}
.margin-top-15{
  margin-top: 15px;
}
.btn-analyse{
  width: 100px;
  height: 34px;
  padding: 0;
  border-radius: 5px;
}
.alert-exist{
  margin-top: 8px;
  color: #b50404;
}
.treeNode-disabled{
  color: red;
}
.index-left {
  padding-left: 55px;
  color: #33c3fa;
}
.index-left img{
  width: 80%;
}

.index-left h1 {
  color: #33c3fa;
}
.index-left h3 {
  color: #33c3fa;
}
.index-header{
  padding-left: 55px;
  color: #33c3fa;
}
.index-header h1{
  color: #4092ff;
}
.index-right{
  float: right;
  width: 500px;
}
.index-right li {
  float: left;
  width: 100px;
  list-style-type: none;
  padding: 0;
  margin: 18px;
  text-align: center;
}
.index-right span{
  display: block;
  margin-top: 10px;
}
.module span{
  color: #000;
}